<div class="container col-md-10">
  <h1 class="page-header" style="text-align:right;">Toyota Models</h1>
  <div class="row">
      <div class="col-md-10">
        Search: <input ng-model="query">
          Sort by:
          <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
      </div><br/><br/>

      <!-- ng-show with animation example -->
       <!--      <label>
              <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Is Visible...
            </label> -->

      <!--       <div class="col-md-10 check-element sample-show-hide" ng-show="checked" style="clear:both;">  -->  


      <div class="col-md-10">   
          <div class="col-md-4 tiled" ng-repeat="model in models | filter:query | orderBy:orderProp">
            <div class="thumbnail">
                 <a href="#/styles/{{model.id}}"><img ng-src="{{model.imageUrl}}"></a>
                <p style="text-align:center;">{{model.name}}</p>
            </div>         
        </div>
      </div>
  </div>
</div>
